## Advance Pipeline

In [3]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDClassifier
import seaborn as sns

In [4]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
y = titanic['survived']
X = titanic.drop('survived', axis = 1)

In [11]:
numerical_features =['pclass' , 'age', 'fare']
categorical_features = ['sex', 'deck', 'alone']

In [16]:
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import OneHotEncoder

ImportError: cannot import name 'OneHotEncoder' from 'sklearn.model_selection' (C:\Users\benib\anaconda3\Lib\site-packages\sklearn\model_selection\__init__.py)

In [15]:
numerical_pipeline = make_pipeline(SimpleImputer(), StandardScaler())

categorical_pipeline = make_pipeline(SimpleImputer(strategy = 'most_frequent'),OneHotEncoder())

NameError: name 'OneHotEncoder' is not defined

In [8]:
transformer = make_column_transformer((numerical_pipeline, numerical_features),(categorical_pipeline , categorical_features))

In [10]:
transformer.fit_transform(X)

array([[-0.53037664, -0.50244517],
       [ 0.57183099,  0.78684529],
       [-0.25482473, -0.48885426],
       ...,
       [        nan, -0.17626324],
       [-0.25482473, -0.04438104],
       [ 0.15850313, -0.49237783]])

In [ ]:
model = make_pipeline(transformer)